<header class="header-monitor-sidenav">
  <mat-sidenav-container class="mat-elevation-z1">
    <mat-sidenav #sidenav mode="side">
    </mat-sidenav>

    <mat-toolbar class="toolbar">
      <button mat-icon-button class="toolbar__button-toggle" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img width="40" [src]="'assets/img/indice.png'" alt="image"  class="toolbar__img" />
      <h1 class="toolbar-title">Safra</h1>
      <p class="toolbar-subtitle">Mesa de Crédito</p>
    </mat-toolbar>
  </mat-sidenav-container>
</header>